* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #333;
    display: inline-block;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4a1;
    color: #333;
    padding: 20px;
}

main {
    width: min(95%, 1200px);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

h1 {
    font-size: 2em;
    margin-bottom: 10px;
    text-align: center;
}

.botones {
    /* background-color: coral; */
    min-height: 80px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.botones-item {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    font-size: 1.2em;
    margin: 5px;
    border-radius: 5px;
}