/* Valores iniciales comunes en CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
}

h2 {
    font-weight: 800;
    color: red;
}

main {
    width: min(90%, 1200px);
    margin: 2px auto;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.ejemplos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}

.textareafield {
}

textarea {
    field-sizing: content;
    min-height: 8rem;
    max-height: 18rem;
    max-width: 100%;
    padding: 10px;
    border: 1px solid #ccc; 
    border-radius: 5px;
    font-size: 1.2rem;
}

.inputnombres {
    /* width: 100%; */
    field-sizing: content;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.2rem;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.inputnombres:focus, textarea:focus {
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}

.codigos {
    display: block !important;

}
.inputcodigos {
    min-width: 150px !important;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.2rem;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    field-sizing: content;
}
